<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link src="/public/css" rel=stylesheet>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .row {
            margin-left: 5%;

        }

        img {
            width: 300px;
            height: 400px;
        }

        .fa {
            color: orange;
            border: 1 px solid black;

        }

        .checked {
            color: black;
        }

        .fa-star-o {
            color: orange;
        }

        .nav-item:hover {
            background-color: grey;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">About</a>
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>

                <a class="nav-item nav-link active" href="/addcart">Cart</a>

            </div>

        </div>
        <form class="form-inline my-2 my-lg-0" action="/categorysearchhome" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="category" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <br><br>
    <div class="row">
        <div class=col-sm-6>
            <img src="<%=book.cover%>">

        </div>
        <div class="col-sm-6">
            <p>Title:<%=book.title%>
            </p>
            <p>Author:<%=book.author%>
            </p>
            <p>Category:<%=book.category%>
            </p>
            <p>Publisher:<%=book.publisher%>
            </p>

            <p>Description:<%=book.description%>
            </p>
            <p>Price:<%=book.price%>
            </p>


            <form action="/addcart/<%=book._id%>" method="post">
                <input type="submit" class="btn btn-outline-success" value="Add to cart">
            </form>
        </div>


    </div>

    <center>
        <h1>CUSTOMER REVIEWS</h1>
    </center>
    <% if(review.length==0){%>
        <p>There are no reviews yet</p>

        <%}else{%>
            <center>
                <h2>Total Rating:
                    <% for(var i=total; i>=1; i--) { %>
                        <i class="fa fa-star" aria-hidden="true" style="font-size:48px"></i>

                        <% } %>
                            <% if(i<1 && i>0){%>
                                <i class="fa fa-star-half-o" aria-hidden="true" style="font-size:48px"></i>
                                <%}%>
                                    <% for(var i=5-total; i>=1; i--) { %>
                                        <i class="fa fa-star-o" aria-hidden="true" style="font-size:48px"></i>

                                        <% } %>
                </h2>
            </center>
            <% for(var i=0; i < review.length; i++) { %>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <%=review[i].Firstname+" "  %><%=review[i].Lastname+', '%>
    <%=review[i].Country%></p>
             <p>Rating:
             <% if(review[i].Rating==1){%>
            <i class=" fa fa-star" aria-hidden="true"></i>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                                <%}%>
                                    <% if(review[i].Rating==2){%>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>


                                        <%}%>
                                            <% if(review[i].Rating==3){%>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <%}%>
                                                    <% if(review[i].Rating==4){%>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="fa fa-star checked"></span>

                                                        <%}%>
                                                            <% if(review[i].Rating==5){%>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <%}%>
                        </p>

                        <p>Description:<%=review[i].Description%>
                        </p>
                        <br>
                        <hr>
                        <br>
                    </div>
                </div>
                <% } %>

                    <% } %>