<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link src="/public/css" rel=stylesheet>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Great+Vibes&family=Satisfy&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Satisfy&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .row {
            margin-left: 5%;

        }

        img {
            width: 300px;
            height: 400px;
        }

        .fa {
            color: orange;
            border: 1 px solid black;

        }

        .checked {
            color: black;
        }

        .fa-star-o {
            color: orange;
        }

        .nav-item:hover {
            background-color: grey;
        }

        #first {
            margin-left: 70%;
            margin-top: -3%;
        }

        h2 {
            margin-left: 3%;
            font-family: 'Dancing Script';

        }

        h1 {
            font-family: 'Dancing Script';
        }

        #feedback {
            font-family: 'great vibes';
            font-size: 30px;
        }

        #details {
            font-family: Cookie;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">About</a>
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>

                <a class="nav-item nav-link active" href="/addcart">Cart</a>

            </div>

        </div>
        <form class="form-inline my-2 my-lg-0" action="/categorysearchhome" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="category" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <br><br>

    <div class="row">
        <div class=col-sm-6>
            <img src="<%=book.cover%>">

        </div>
        <div class="col-sm-6">
            <p><i>Title</i>:<span id="details">
                    <%=book.title%>
                </span>


            </p>
            <p><i>Author:</i><span id="details">
                    <%=book.author%>
                </span>
            </p>
            <p><i>Category:</i><span id="details">
                    <%=book.category%>
                </span>
            </p>
            <p><i>Publisher:</i><span id="details">
                    <%=book.publisher%>
                </span>
            </p>

            <p><i>Description:</i><span id="details">
                    <%=book.description%>
                </span>
            </p>
            <p><i>Price:</i><span id="details">
                    <%=book.price%>
                </span>
            </p>


            <form action="/addcart/<%=book._id%>" method="post">
                <input type="submit" class="btn btn-outline-success" value="Add to cart">
            </form>
        </div>


    </div>

    <center>
        <hr>
        <h1>CUSTOMER REVIEWS</h1>
    </center>
    <% if(review.length==0){%>
        <p>There are no reviews yet</p>

        <%}else{%>

            <h2>Total Rating:
                <% for(var i=total; i>=1; i--) { %>
                    <i class="fa fa-star" aria-hidden="true" style="font-size:48px"></i>

                    <% } %>
                        <% if(i<1 && i>0){%>
                            <i class="fa fa-star-half-o" aria-hidden="true" style="font-size:48px"></i>
                            <%}%>
                                <% for(var i=5-total; i>=1; i--) { %>
                                    <i class="fa fa-star-o" aria-hidden="true" style="font-size:48px"></i>

                                    <% } %>

            </h2>
            <h2 id="first">Total Reviews: <%=review.length%>
            </h2>
            <% for(var i=0; i < review.length; i++) { %>
                <div class="row">
                    <div class="col-sm-6" id="feedback">
                        <p>
                            <%=review[i].Firstname+" "  %><%=review[i].Lastname+', '%>
    <%=review[i].Country%></p>
             <p>Rating:
             <% if(review[i].Rating==1){%>
            <i class=" fa fa-star" aria-hidden="true"></i>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                                <%}%>
                                    <% if(review[i].Rating==2){%>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>


                                        <%}%>
                                            <% if(review[i].Rating==3){%>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <%}%>
                                                    <% if(review[i].Rating==4){%>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="fa fa-star checked"></span>

                                                        <%}%>
                                                            <% if(review[i].Rating==5){%>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <%}%>
                        </p>

                        <p>Description: <%=review[i].Description%>
                        </p>
                        <hr>
                    </div>
                </div>
                <% } %>

                    <% } %>