<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link src="/public/mycss.css" rel="stylesheet">
    <style>
        body{
             background-color: #0f1228;
        }
        th,h2{
            color:white;
        }
        td,th{
            color:white;
            text-align:center;
        }
        table{
            margin-left:10%;
        }
        h2{
            margin-left:40%;
        }
        #add{
            margin-left:10%;
        }
    
    </style>
    </head>
    
    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/viewbooks.ejs">Books <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/viewcategories.ejs">Categories</a>
      </li>
     
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="flashes">
  <% if (locals.message) { %>
    <% if (message.success) { %>
      <div class="alert alert-success"><%= message.success %></div>
    <% } else if (message.error) { %>
      <div class="alert alert-danger"><%= message.error %></div>
    <% } %>
  <% } %>
</div>     
    <h2>Books</h2>
        <p id="add"><a href="/views/addbook.ejs">Add a New Book</a></p>
      
        <table border="2 solid white">
        
            <tr>
            <th width="300">ID</th>
            <th width="200">Book Title</th>
            <th width="200">Category</th>
            <th width="200"></th>
                <th width="200"></th>
            </tr>
            
            
            
        
            
            
            <% for(var i=0; i < books.length; i++) { %>
   <tr>
     <td><%= books[i].id %></td>
     <td><%= books[i].title %></td>
       <td><%= books[i].category %></td>
       <td><a class="button" href="/editbook.ejs/<%=books[i]._id%>">Edit</a></td>
       <td><form method="POST" action="/delete_book/<%=books[i]._id%>?_method=DELETE">
    <button type="submit">Delete</button>
</form>
           
   </tr>
<% } %>
            
            
            
        </table>
        
    </body>
</html>