<!DOCTYPE html>
<html>

<head>
  <title>Books</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link src="/public/mycss.css" rel="stylesheet">
  <style>
    body {
      background-color: #0f1228;
    }

    th,
    h2 {
      color: white;
    }

    td,
    th {
      color: white;
      text-align: center;
    }

    table {
      margin-left: 2%;
    }

    h2 {
      margin-left: 40%;
    }

    #add {
      margin-left: 10%;
    }


    .delete:hover {
      text-decoration: none;
    }

    .edit1:hover {
      text-decoration: none;
    }

    .btnrate {
      padding: 8px 15px;
      font-size: 15px;
      width: 150px;
      border-width: 0px;
      background-color: rgb(88, 13, 207);
      border-radius: 50px;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      color: white;
      text-decoration: none;
      margin-left: 5%;

    }

    .btnrate:hover {
      background-color: #5e6eda;
      box-shadow: 0 0 5 rgba(255, 255, 255, 0.2);
      color: white;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }
  </style>
  <script>
    window.onload = function () {

    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/viewbooks.ejs">Books <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/viewcategories.ejs">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/addbook.ejs">Add book</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0" action="/categorysearch" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="category" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="flashes">
    <% if (locals.message) { %>
      <% if (message.success) { %>
        <div class="alert alert-success">
          <%= message.success %>
        </div>
        <% } else if (message.error) { %>
          <div class="alert alert-danger">
            <%= message.error %>
          </div>
          <% } %>
            <% } %>
  </div>
  <h2>Books</h2>
  <a href="/views/addbook.ejs">
    <button class="btnrate">Add a new Book</button>
  </a>
  <br>
  <br>
  <table border="2 solid white">

    <tr>
      <th width="300">ID</th>
      <th width="200">Book Title</th>
      <th width="200">Category</th>
      <th width="200">Author</th>
      <th width="200">Publisher</th>
      <th width="200" colspan=2>Action</th>

    </tr>






    <% for(var i=0; i < books.length; i++) { %>
      <tr>
        <td>
          <%= books[i].id %>
        </td>
        <td>
          <%= books[i].title %>
        </td>
        <td>
          <%= books[i].category %>
        </td>
        <td>
          <%= books[i].author %>
        </td>
        <td>
          <%= books[i].publisher %>
        </td>
        <td><a class="edit1" href="/editbook.ejs/<%=books[i]._id%>">Edit</a></td>
        <td>
          <form method="POST" action="/delete_book/<%=books[i]._id%>?_method=DELETE" id="myform">
            <a href="/" class="delete" onclick="document.getElementById('myform').submit(); return false;">Delete</a>
          </form>
        </td>
      </tr>
      <% } %>



  </table>

</body>

</html>